---
layout: page
---

<div id="taxonomy" role="tablist">

  {% assign taxonomies = site.data.taxonomies %}
  {% assign locations = site.data.locations %}

  {% for taxonomy in taxonomies %}

    <div class="card" id="layer-1-{{ taxonomy | slug }}">
      <div class="card-header" role="tab" id="heading-{{ taxonomy | slug }}">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse-{{ taxonomy | slug }}" aria-expanded="false" aria-controls="collapse-{{ taxonomy | slug }}">
            {{ taxonomy | capitalize}}
          </a>
        </h5>
      </div>
      <div id="collapse-{{ taxonomy | slug }}" class="collapse" role="tabpanel" aria-labelledby="heading-{{ taxonomy | slug }}" data-parent="#taxonomy">
        <div class="card-body">

          <div id="location" role="tablist">

            {% for location in locations %}

              <div class="card" id="layer-2-{{ location.id }}">
                <div class="card-header" role="tab" id="heading-{{ location.id }}">
                  <h5 class="mb-1">
                    <a class="collapsed" data-toggle="collapse" href="#collapse-{{ location.id }}" aria-expanded="false" aria-controls="collapse-{{ location.id }}">
                      {{ location.name | capitalize}}
                    </a>
                  </h5>
                </div>
                <div id="collapse-{{ location.id }}" class="collapse" role="tabpanel" aria-labelledby="heading-{{ location.id }}" data-parent="#location">
                  <div class="card-body">
                    {% for service in location.services %}
                      <h5>{{ service.name }}</h5>
                      <p>{{ service.description }}</p>
                      <p><strong>Application Process:</strong> {{ service.application_process }}</p>
                      <p><strong>Taxonomy</strong>: {{ service.taxonomy_ids }}</p>
                      <p><strong>Eligibility:</strong>
                      {% for eligibility in service.eligibility %} {{ eligibility.eligibility }} {% endfor %}
                      </p>
                      <p><strong>Schedule:</strong>
                      {% for schedule in service.regular_schedule %}
                        <strong>{{ schedule.weekday }}:</strong> {{ schedule.opens_at }} - {{ schedule.closes_at }}
                      {% endfor %}
                      </p>
                    {% endfor %}
                  </div>
                </div>
              </div>

            {% endfor %}

          </div>

        </div>
      </div>
    </div>
  {% endfor %}
</div>
