---
layout: page
---

 <div class="_18xm">
		<div>
			 <div class="_3Zko"></div>
			 <div class="Gko2">
					<p class="_3o0n">What service are you looking for?</p>
					<div title="Services" class="_jFC">
						{% assign taxonomies = site.data.taxonomies %}
						{% assign locations = site.data.locations %}
						{% for taxonomy in taxonomies %}
						 <div>
								<a href="#" class="_2_ly" aria-label="Look for {{ taxonomy }} Services">
									 <i class="_1gag _17SA icon-{{ taxonomy }}"></i>{{ taxonomy }}
								</a>
								<div class="_2zJF" >
									{% for location in locations %}
									 <li class="_2ZYn">
											<a href="https://link-sf.com/locations/00641ca0eb" class="_2jvF" title="Click to see more details about {{ location.name }}">
												 <div class="_3gTZ">
														<div class="_3DEX">
															 <div class="_2WQ9"><span class="QBL5">{{ location.name }}</span><span class="_3R_Y">closed</span></div>
															 <div class="_1Z-G"></div>
															 <div class="_3T3Y">
																	<div><span><i class="category-icon _17SA icon-food"></i></span></div>
																	<div>152615 mins</div>
															 </div>
														</div>
														<div class="_4TwT"><i class="BKZG undefined icon-caret"></i></div>
												 </div>
											</a>
									 </li>
									 {% endfor %}
								</div>
						 </div>
						{% endfor %}
					</div>
			 </div>
		</div>
 </div>
