<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.title }}</title>

  <link href="/{{ site.github_org }}/css/bootstrap.css" rel="stylesheet">
  <link href="/{{ site.github_org }}/css/swagger-ui.css" rel="stylesheet">

  <script src="/{{ site.github_org }}/js/jquery-latest.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/{{ site.github_org }}/js/github.js" type="text/javascript" charset="utf-8"></script>
  <script src="/{{ site.github_org }}/js/utility.js" type="text/javascript" charset="utf-8"></script>
  <script src="/{{ site.github_org }}/js/js-yaml.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/{{ site.github_org }}/js/cookies.js"></script>

</head>
