<header id="header">
  <a href="http://org.open.referral.adopta.agency/" class="logo"><img src="https://s3.amazonaws.com/kinlane-productions/open-referral/api-evangelist-logo-human-services.png" width="100%" /></a>
  <ul class="icons">
    <li><a href="https://twitter.com/apievangelist" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://github.com/api-evangelist" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="https://www.linkedin.com/organization/1500316/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="/feeds/atom.xml" class="icon fa-rss"><span class="label">Feed</span></a></li>
  </ul>
</header>
