<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/#specification">Specification</a></li>
    <li><a href="/#implementations">Implementations</a></li>
    <li><a href="/#vendors">Vendors</a></li>
    <li><a href="/#platforms">Platforms</a></li>
    <li><a href="/#demo">Demo</a></li>
    <li><a href="/#tooling">Tooling</a></li>
    <li><a href="/#revenue">Revenue</a></li>
    <li><a href="/#improve">Improve</a></li>
    <li><a href="/#interoperability">Interoperability</a></li>
    <li><a href="/#stories">Stories</a></li>
    <li><a href="/#involved">Involved</a></li>
    <li><a href="/#final">Final</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>
