---
layout: default
title: Edit
---

<script type="text/javascript">
	function showme($id)
		{
    console.log($id);
		if(document.getElementById($id).style.display == 'none')
			{
			document.getElementById($id).style.display = '';
			}
		else
			{
			document.getElementById($id).style.display = 'none';
			}
    }

  function addService($id)
    {
    console.log($id);
    $name = document.getElementById('add-name-' + $id).value;
    $description = document.getElementById('add-description-' + $id).value;
    $taxonomy_ids = document.getElementById('add-taxonomy_ids-' + $id).value;
    $application_process = document.getElementById('add-application_process-' + $id).value;
    $service_count = document.getElementById('service_count-' + $id).value;

    $row = '<table width="100%" style="border-top: 2px; solid #000; border-bottom: 2px; solid #000;">';
    $row = $row + '<tr>';
    $row = $row + '<td width="15%"><strong>Name:</strong></td>';
    $row = $row + '<td><input type="text" name="service-name" id="service-name-' + $service_count + '" value="' + $name + '" style="width:100%;" /></td>';
    $row = $row + '</tr>';
    $row = $row + '<tr>';
    $row = $row + '<td><strong>Description:</strong></td>';
    $row = $row + '<td><input type="text" name="service-description" id="service-description-' + $service_count + '" value="' + $description + '" style="width:100%;" /></td>';
    $row = $row + '</tr>';
    $row = $row + '<tr>';
    $row = $row + '<td><strong>Taxonomy:</strong></td>';
    $row = $row + '<td><input type="text" name="service-taxonomy_ids" id="taxonomy_ids-' + $service_count + '" value="' + $taxonomy_ids + '" style="width:100%;" /></td>';
    $row = $row + '</tr>';
    $row = $row + '<tr>';
    $row = $row + '<td><strong>Process:</strong></td>';
    $row = $row + '<td><input type="text" name="service-application_process" id="application_process-' + $service_count + '" value="' + $application_process + '" style="width:100%;" /></td>';
    $row = $row + '</tr>';
    $row = $row + '<tr>';
    $row = $row + '<td><strong>Schedule:</strong></td>';
    $row = $row + '<td><ul id="schedule-' + $service_count + '"></ul></td>';
    $row = $row + '</tr>';
    $row = $row + '<tr>';
    $row = $row + '<td colspan="2"><hr /></td>';
    $row = $row + '</tr>';
    $row = $row + '</table>';
    console.log($row);
    $( "#servcies-listing-" + $id).append($row);

    showme('services-add-' + $id);
    $service_count = parseInt($service_count);
    $service_count = $service_count + 1;
    document.getElementById('service_count-' + $id).value = $service_count;
    }

  function addSchedule($id,$sid)
    {

    console.log($id);
    console.log($sid);
    $weekday = document.getElementById('add-weekday-' + $id + '-' + $sid).value;
    $opens_at = document.getElementById('add-opens_at-' + $id + '-' + $sid).value;
    $closes_at = document.getElementById('add-closes_at-' + $id + '-' + $sid).value;
    $schedule_count = document.getElementById('schedule_count-' + $id + '-' + $sid).value;

    $row = '<table width="100%">';
    $row = $row + '<tr>';
    $row = $row + '<td><input type="text" name="add-weekday" id="add-weekday-' + $id + '-' + $sid + '" value="Monday" width="75" /></td>';
    $row = $row + '<td><input type="text" name="add-opens_at" id="add-opens_at-' + $id + '-' + $sid + '" value="9:00 AM" width="50" /></td>';
    $row = $row + '<td><input type="text" name="add-closes_at" id="add-closes_at-' + $id + '-' + $sid + '" value="5:00 PM" width="50" /></td>';
    $row = $row + '<td width="25%"></td>';
    $row = $row + '</tr>';
    $row = $row + '</table>';

    $( "#services-schedule-listing-" + $id + "-" + $sid).append($row);

    //showme('services-add-' + $id);
    $schedule_count = parseInt($schedule_count);
    $schedule_count = $schedule_count + 1;
    document.getElementById('schedule_count-' + $id + "-" + $sid).value = $schedule_count;

    }
</script>

{% assign count = 0 %}
{% assign locations = site.data.locations %}

<form id="all-data" style="padding: 0px; margin: 0px; width: 100%;">
<table width="90%" align="center">
  {% for location in locations %}
	<tr>
		<td width="20%" align="right"><strong>Name:</strong></td>
		<td><input type="text" name="name" id="name-{{ count }}" value="{{ location.name }}" style="width:100%;" /></td>
	</tr>
  <tr>
		<td align="right"><strong>Description:</strong></td>
		<td><input type="text" name="description" id="name-{{ count }}" value="{{ location.description }}" style="width:100%;" /></td>
	</tr>
  <tr>
		<td align="right"><strong>Address:</strong></td>
		<td><input type="text" name="address_1" id="address_1-{{ count }}" value="{{ location.address_1 }}" style="width:100%;" /></td>
	</tr>
  <tr>
		<td align="right"><strong>City:</strong></td>
		<td><input type="text" name="city" id="name-{{ count }}" value="{{ location.city }}" style="width:50%;" /></td>
	</tr>
  <tr>
		<td align="right"><strong>State:</strong></td>
		<td><input type="text" name="state_province" id="name-{{ count }}" value="{{ location.state_province }}" style="width:50%;" /></td>
	</tr>
  <tr>
		<td align="right" valign="top"><strong>Services (<a href="#" onclick="showme('services-add-{{ count }}');">add</a>):</strong></td>
		<td style="padding: 5px; display: none;" id="services-add-{{ count }}">
      <table width="100%">
      	<tr>
      		<td width="15%" align="right"><strong>Name:</strong></td>
      		<td><input type="text" name="add-name" id="add-name-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right"><strong>Description:</strong></td>
      		<td><input type="text" name="add-description" id="add-description-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right"><strong>Taxonomy:</strong></td>
      		<td><input type="text" name="add-taxonomy_ids" id="add-taxonomy_ids-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right"><strong>Process:</strong></td>
      		<td><input type="text" name="add-application_process" id="add-application_process-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td></td>
      		<td><button type="button" onclick="addService('{{ count }}')"; class="btn btn-dark">Add Service</button></td>
      	</tr>
        <tr>
      		<td colspan="2"><hr /></td>
      	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
    <td id="servcies-listing-{{ count }}" style="padding: 5px;">
      {% assign service_count = 0 %}
      {% for service in location.services %}
      <table width="100%" style="border-top: 2px; solid #000; border-bottom: 2px; solid #000;">
        <tr>
      		<td colspan="2"><hr /></td>
      	</tr>
      	<tr>
      		<td width="15%" align="right"><strong>Name:</strong></td>
      		<td><input type="text" name="service-name" id="service-name-{{ count }}-{{ service_count }}" value="{{ service.name }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right"><strong>Description:</strong></td>
      		<td><input type="text" name="service-description" id="service-description-{{ count }}-{{ service_count }}" value="{{ service.description }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right"><strong>Taxonomy:</strong></td>
      		<td><input type="text" name="service-taxonomy_ids" id="taxonomy_ids-{{ count }}-{{ service_count }}" value="{{ service.taxonomy_ids }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right"><strong>Process:</strong></td>
      		<td><input type="text" name="service-application_process" id="application_process-{{ count }}-{{ service_count }}" value="{{ service.application_process }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td align="right" valign="top"><strong>Schedule:</strong></td>
      		<td id="services-schedule-add-{{ count }}-{{ service_count }}">
            <table width="100%">
              <tr>
                <td><input type="text" name="add-weekday" id="add-weekday-{{ count }}-{{ service_count }}" value="Monday" width="75" /></td>
                <td><input type="text" name="add-opens_at" id="add-opens_at-{{ count }}-{{ service_count }}" value="9:00 AM" width="50" /></td>
                <td><input type="text" name="add-closes_at" id="add-closes_at-{{ count }}-{{ service_count }}" value="5:00 PM" width="50" /></td>
                <td><button type="button" onclick="addSchedule('{{ count }}','{{ service_count }}')"; class="btn btn-dark">Add Schedule</button></td>
              </tr>
            </table><hr />
          </td>
      	</tr>
        <tr>
          <td></td>
      		<td id="services-schedule-listing-{{ count }}-{{ service_count }}">
            {% assign schedule_count = 0 %}
            {% for schedule in service.regular_schedule %}
              <table width="100%">
                <tr>
                  <td><input type="text" name="weekday" id="weekday-{{ count }}-{{ service_count }}" value="{{ schedule.weekday }}" width="75" /></td>
                  <td><input type="text" name="opens_at" id="opens_at-{{ count }}-{{ service_count }}" value="{{ schedule.opens_at }}" width="50" /></td>
                  <td><input type="text" name="closes_at" id="closes_at-{{ count }}-{{ service_count }}" value="{{ schedule.closes_at }}" width="50" /></td>
                  <td width="20%"></td>
                </tr>
              </table>
              {% assign schedule_count = schedule_count | plus: 1 %}
            {% endfor %}
            <input type="hidden" name="schedule_count" id="schedule_count-{{ count }}-{{ service_count }}" value="{{ schedule_count }}">
          </td>
      	</tr>
        <tr>
      		<td colspan="2"><hr /></td>
      	</tr>
      </table>
      {% assign service_count = service_count | plus: 1 %}
      {% endfor %}
    </td>
	</tr>
  <tr>
		<td colspan="2"><hr /><input type="hidden" name="service_count" id="service_count-{{ count }}" value="{{ service_count }}"></td>
	</tr>
  {% assign count = count | plus: 1 %}
{% endfor %}
</table>
</form>

<script type="text/javascript">
function savethis()
	{
  var $oAuthToken = getUrlVar('token');
  var $org = '{{ site.github_user }}';
  var $repo = '{{ site.github_repo }}';
	var $branch = '{{ site.github_branch }}';

	if($oAuthToken !='')
    {
    Cookies.set('token', $oAuthToken);
    // Set with expiration
    // Cookies.set('token', $oAuthToken, { expires: '01/01/2017' });
    }

  // Grab the token from cookie
  $oAuthToken = Cookies.get('token');

	$data = new Array();
	var elements = document.getElementById("all-data").elements;
	for (var i = 0, element; element = elements[i++];)
		{
    if (element.type === "text" || element.type === "hidden" || element.type === "checkbox")
			{

      $field_name = element.name ;
			if($field_name == 'name')
				{
				$i = {};
				}

      //console.log($field_name);

      $findme = "add-";
			$isadd = $field_name.includes("add-");
      //console.log("is add: " + $isadd);
			if(!$isadd)
				{

        if($field_name=='name')
          {
          $i['name'] = element.value;
          }
        if($field_name=='description')
          {
          $i['description'] = element.value;
          }
        if($field_name=='address_1')
          {
          $add = {};
          $i['physical_address'] = new Array();
          $add['address_1'] = element.value;
          }
        if($field_name=='city')
          {
          $add['city'] = element.value;
          }
        if($field_name=='state_province')
          {
          $add['state_province'] = element.value;
          $i['physical_address'].push($add);
          $i['services'] = new Array();
          }


        if($field_name=='service-name')
          {
          $s = {};
          $s['name'] = element.value;
          }
        if($field_name=='service-description')
          {
          $s['description'] = element.value;
          }
        if($field_name=='service-taxonomy_ids')
          {
          $s['taxonomy_ids'] = element.value;
          }
        if($field_name=='service-application_process')
          {
          $s['application_process'] = element.value;
          $s['regular_schedule'] = new Array();
          }


        if($field_name=='weekday')
          {
          $sch = {};
          $sch['weekday'] = element.value;
          }
        if($field_name=='opens_at')
          {
          $sch['opens_at'] = element.value;
          }
        if($field_name=='closes_at')
          {
          $sch['opens_at'] = element.value;
          $s['regular_schedule'].push($sch);
          }

         if($field_name=='schedule_count')
           {
           $i['services'].push($s);
           }

				}

			if(element.name == 'service_count')
				{
				$data.push($i);
				}
			}
		}
	//console.log($data);
	$yaml_dump = jsyaml.dump($data);

	document.getElementById('result').value = $yaml_dump;

	// Grab the token from cookie
	$oAuthToken = Cookies.get('token');

	var github = new Github({token: $oAuthToken,auth: "oauth"});
	var repo = github.getRepo($org,$repo);

	repo.getTree('{{ site.github_branch }}?recursive=true', function(err, tree) {

		$.each(tree, function(treeKey, treeValue) {

			$writepath = '_data/locations.yaml';
			//console.log($writepath);
			$path = treeValue['path'];
			$sha = treeValue['sha'];
			//console.log($path + ' == ' + $writepath);
			if($path==$writepath)
				{
				//repo.writemanual('master',$writepath, $yaml_dump, 'Save', $sha, function(err) { });
				//console.log("writing " + $writepath);
				alert("saved " + $writepath);
				}
			});
		});

	}
</script>
<p align="center"><input type="button" onclick="savethis();" class="button" value="Save Changes" style="text-align: center;" /></p>
<textarea rows="20" cols="100" id="result"></textarea>
{{ site.github_branch }}
