---
layout: default
title: Edit
---

<script type="text/javascript">
	function showme($id)
		{
    console.log($id);
		if(document.getElementById($id).style.display == 'none')
			{
			document.getElementById($id).style.display = '';
			}
		else
			{
			document.getElementById($id).style.display = 'none';
			}
    }
</script>

{% assign count = 0 %}
{% assign locations = site.data.locations %}

<form id="all-data" style="padding: 0px; margin: 0px; width: 100%;">
<table width="90%" align="center">
  {% for location in locations %}
	<tr>
		<td width="20%"><strong>Name:</strong></td>
		<td><input type="text" name="name" id="name-{{ count }}" value="{{ location.name }}" style="width:100%;" /></td>
	</tr>
  <tr>
		<td><strong>Description:</strong></td>
		<td><input type="text" name="description" id="name-{{ count }}" value="{{ location.description }}" style="width:100%;" /></td>
	</tr>
  <tr>
		<td><strong>Address:</strong></td>
		<td><input type="text" name="address_1" id="address_1-{{ count }}" value="{{ location.address_1 }}" style="width:100%;" /></td>
	</tr>
  <tr>
		<td><strong>City:</strong></td>
		<td><input type="text" name="city" id="name-{{ count }}" value="{{ location.city }}" style="width:50%;" /></td>
	</tr>
  <tr>
		<td><strong>State:</strong></td>
		<td><input type="text" name="state_province" id="name-{{ count }}" value="{{ location.state_province }}" style="width:50%;" /></td>
	</tr>
  <tr>
		<td><strong>Services (<a href="#" onclick="showme('services-add-{{ count }}');">add</a>):</strong></td>
		<td style="padding: 5px; display: none;" id="services-add-{{ count }} ">
      <table width="100%">
      	<tr>
      		<td width="15%"><strong>Name:</strong></td>
      		<td><input type="text" name="name" id="name-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Description:</strong></td>
      		<td><input type="text" name="description" id="description-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Taxonomy:</strong></td>
      		<td><input type="text" name="taxonomy_ids" id="taxonomy_ids-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Process:</strong></td>
      		<td><input type="text" name="application_process" id="application_process-{{ count }}" value="" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td></td>
      		<td><button type="button" class="btn btn-dark">Add</button></td>
      	</tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
    <td id="servcies-listing-{{ count }}" style="padding: 5px;">
      {% for service in location.services %}
      <table width="100%">
      	<tr>
      		<td width="15%"><strong>Name:</strong></td>
      		<td><input type="text" name="service-name" id="service-name-{{ count }}" value="{{ service.name }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Description:</strong></td>
      		<td><input type="text" name="service-description" id="service-description-{{ count }}" value="{{ service.description }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Taxonomy:</strong></td>
      		<td><input type="text" name="service-taxonomy_ids" id="taxonomy_ids-{{ count }}" value="{{ service.taxonomy_ids }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Process:</strong></td>
      		<td><input type="text" name="service-application_process" id="application_process-{{ count }}" value="{{ service.application_process }}" style="width:100%;" /></td>
      	</tr>
        <tr>
      		<td><strong>Schedule:</strong></td>
      		<td></td>
      	</tr>
      </table>
      {% endfor %}
    </td>
	</tr>
  <tr>
		<td colspan="2"><hr /></td>
	</tr>
  {% assign count = count | plus: 1 %}
{% endfor %}
</table>
</form>

<div class="box alt">
	<div class="row 50% uniform">

		<script type="text/javascript">
		function savethis()
			{
	    var $oAuthToken = getUrlVar('token');
	    var $org = '{{ site.github_user }}';
	    var $repo = '{{ site.github_repo }}';
			var $branch = '{{ site.github_branch }}';

			if($oAuthToken !='')
	      {
	      Cookies.set('token', $oAuthToken);
	      // Set with expiration
	      // Cookies.set('token', $oAuthToken, { expires: '01/01/2017' });
	      }

	    // Grab the token from cookie
	    $oAuthToken = Cookies.get('token');

			$images = new Array();
			var elements = document.getElementById("all-images").elements;
			for (var i = 0, element; element = elements[i++];)
				{
		    if (element.type === "text" || element.type === "hidden" || element.type === "checkbox")
					{

					if(element.name == 'archive')
						{
						$i = {};
						}

		      console.log(element.name);

					$i[element.name] = element.value;

					if(element.name == 'image')
						{
						$images.push($i);
						}
					}
				}
			//console.log($images);
			$yaml_dump = jsyaml.dump($images);

			//document.getElementById('source').value = $yaml_dump;

			// Grab the token from cookie
			$oAuthToken = Cookies.get('token');

			var github = new Github({token: $oAuthToken,auth: "oauth"});
			var repo = github.getRepo($org,$repo);

			repo.getTree('{{ site.github_branch }}?recursive=true', function(err, tree) {

				$.each(tree, function(treeKey, treeValue) {

					$writepath = '_data/images.yaml';
					//console.log($writepath);
					$path = treeValue['path'];
					$sha = treeValue['sha'];
					//console.log($path + ' == ' + $writepath);
					if($path==$writepath)
						{
						repo.writemanual('master',$writepath, $yaml_dump, 'Save', $sha, function(err) { });
						//console.log("writing " + $writepath);
						alert("saved " + $writepath);
						}
					});
				});

			}
		</script>
		<center><p align="center"><input type="button" onclick="savethis();" class="button" value="Save Images" style="text-align: center;" /></p></center>
	</div>
</div>
