{% include head.html %}

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header" style="width: 100%;">
      <p align="center"><a class="navbar-brand" href="/">{{ site.name }}</a></p>
    </div>
  </div>
</nav>
<div class="container">
    <div>
        <div class="page">
            {{ content }}
        </div>
    </div>
</div>



<footer class="panel-footer">

  <nav class="navbar">
      <div class="container center">
          <ul class="nav">
              <li class="navbar-text">Item</li>
              <li class="navbar-text">Item</li>
              <li class="navbar-text">Item</li>
          </ul>
      </div>

      <div class="container center">
          <p>Some other blah blah blah!</p>
      </div>

  </nav>

</footer>

<script src="/js/bootstrap.js"></script>
</body>
</html>
