{% include head.html %}

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header" style="width: 100%;">
      <p align="center"><a class="navbar-brand" href="/">{{ site.name }}</a></p>
    </div>
  </div>
</nav>
<div class="container">
    <div>
        <div class="page">
            {{ content }}
        </div>
    </div>
</div>

<footer class="panel-footer">
  <div class="container" align="center">
    <ul style="display: inline;">
        <li><a href="/">Home</a></li>
        <li><a href="/terms-of-service/">Terms of Service</a></li>
        <li><a href="/privacy-policay/">Privacy Policy</a></li>
        <!--<li><a href="/about/">About</a></li>-->
    </ul>
  </div>
</footer>

<script src="/js/bootstrap.js"></script>
</body>
</html>
